<div class="container">
  <h1>Add a new recipe</h1>
    <mat-card class="container col-md-6">
      <div class="mat-card-content formContainer">
        <form #form="ngForm" (ngSubmit)="saveRecipe(form)" novalidate>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Recipe Name</mat-label>
            <input matInput name="recipeName" id="recipeName" ngModel>
          </mat-form-field>
          <button mat-button type="submit" color="accent">Save Recipe</button>
        </form>
        <br>
        <form #form2="ngForm" (ngSubmit)="addIngredientToIngredientArray(form2)" novalidate>
          <div class="ingredientContainer">
            <h3>Ingredients</h3>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Ingredient name</mat-label>
                  <input matInput name="ingredientName" id="ingredientName" ngModel>
                </mat-form-field>
                <span class="space"></span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Quantity</mat-label>
                  <input matInput name="ingredientQuantity" id="ingredientQuantity" ngModel>
                </mat-form-field>
                <span class="space"></span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Measurement Type <small>(ie: cups)</small></mat-label>
                    <input matInput name="measurementType" id="measurementType" ngModel>
                  </mat-form-field>
                  <span class="space"></span>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="fill" color="accent">
                  <mat-label>Grocery Section</mat-label>
                  <input matInput name="grocerySection" id="grocerySection" ngModel>
                </mat-form-field>
              </div>
            </div>
          </div>
          <br>
          <h3>Macronutrient Information <small>(in grams)</small></h3>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Protein</mat-label>
            <input matInput name="protein" id="protein" ngModel>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" color="accent">
            <mat-label matLabel>Carbohydrates</mat-label>
            <input matInput name="carbs" id="carbs" ngModel>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" color="accent">
            <mat-label mat-label>Fat</mat-label>
            <input matInput name="fat" id="fat" ngModel>
          </mat-form-field>
          <br>
          <button mat-button type="submit" color="accent">Add Ingredient</button>
          <div class="border"></div>
        </form>
      </div>
    </mat-card>

  <div class="row">
      <mat-card class="container col-md-6">
        <div class="mat-card"
             *ngIf="ingredients.length > 0"
        >
          <h2 class="mat-card-header">Added Ingredients</h2>
            <ul *ngFor="let i of ingredients">
              <li>
                {{i.ingredientName}}
              </li>
            </ul>
        </div>
      </mat-card>
  </div>
</div>
