.space {
  margin-right: 1em;
}

h1 {
  text-align: center;
  margin-top: 1em;
  border-bottom: 3px solid #25be88;
}

.container {
 justify-content: space-evenly;
  padding: 1em;
  display: flex;
}

.header {
  align-content: center;
}

.formContainer {
  margin: 2em 1em;
  width: 100%;
}

#instructions {
  width: 20em;
  height: 10em;
}

.line {
  border-bottom: solid 2px #25be88;
  margin-top: 1em;
  margin-bottom: 2em;
}


