.space {
  margin-right: 1em;
}

.container {
  margin: 2em;
  padding: 1em;
  display: flex;
}

.header {
  align-content: center;
}

.formContainer {
  margin: 2em 1em;
  width: 100%;
}

.col-md-6 {
  display: inline-flex;
  width: 50%;
}

#instructions {
  width: 20em;
  height: 10em;
}

