<h1>Choose a recipe to add to your weekly menu</h1>
<div class="recipe" *ngFor="let r of recipes">
  <h2>{{ r.recipe_name }}</h2>
  <p>
    <span>Total protein: {{ getTotalProtein(r)}}</span>
    <span>Total carbs: {{getTotalCarbs(r)}}</span>
    <span>fat: {{getTotalFat(r)}}</span>
  </p>
  <div class="button-box">
    <button
      mat-raised-button
      color="{{ getButtonStyle(r) }}"
      (click)="handleButtonClick(r)"
    >
      {{ getButtonText(r) }}
    </button>
    <button
      mat-raised-button
      color="secondary"
      (click)="viewRecipe(r.recipe_id)">
      View Recipe
    </button>
    </div>
</div>
