<div class="container">
  <div class="author">
    <div>
      <h3>&copy; Lisa Andritsch || Meal Builder 2021</h3>
    </div>
    <div id="contact">
      <table>
        <thead><th>Email</th><th>Github</th><th>LinkedIn</th></thead>
        <tr>
          <td>landritsch@madisoncollege.edu</td>
          <td><a href="https://github.com/llandritsch">https://github.com/llandritsch</a></td>
          <td><a href="https://www.linkedin.com/in/lisaandritsch/">https://www.linkedin.com/in/lisaandritsch/</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
