<h2>Fill out all information below to sign up for an account</h2>
<div>
    <mat-form-field appearance="fill">
      <label>Username</label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <label>Password</label>
      <input matInput>
    </mat-form-field>

    <hr/>
    <h3>Nutritional Information</h3>
    <hr/>

    <mat-form-field appearance="fill">
      <label>Daily Calorie Goal</label>
      <input matInput>
    </mat-form-field>

    <hr/>
    <h3>Macronutrient Information</h3>
    <hr/>

    <mat-form-field appearance="fill">
      <label>Daily Protein Goal</label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <label>Daily Carbohydrate Goal</label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <label>Daily Fat Goal</label>
      <input matInput>
    </mat-form-field>
  
  <button mat-button color="accent">Submit</button>

</div>
