<h2>Fill out all information below to sign up for an account</h2>
<div id="container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
    <div class="row">
      <div class="col-md-4">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Username</mat-label>
        <input matInput name="userName" ngModel>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel>
      </mat-form-field>
      </div>

      <div class="col-md-4">
      <h3>Nutritional Information</h3>

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Daily Calorie Goal</mat-label>
        <input matInput name="calorieGoal" ngModel>
      </mat-form-field>
      </div>

      <div class="col-md-4">
      <h3>Macronutrient Information</h3>

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Daily Protein Goal</mat-label>
        <input matInput name="proteinGoal" ngModel>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent">
        <mat-label matLabel>Daily Carbohydrate Goal</mat-label>
        <input matInput name="carbGoal" ngModel>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent">
        <mat-label mat-label>Daily Fat Goal</mat-label>
        <input matInput name="fatGoal" ngModel>
      </mat-form-field>
      </div>
    </div>
    <button mat-button type="submit" color="accent">Submit</button>
  </form>
</div>
