<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/browse" (click)="onSidenavClose()">
    <mat-icon>library_add</mat-icon> <span class="nav-caption">Browse Recipes</span>
  </a>
  <a mat-list-item routerLink="/menu" (click)="onSidenavClose()">
    <mat-icon>view_list</mat-icon><span class="nav-caption">Your Menu</span>
  </a>
  <a mat-list-item routerLink="/groceryList" (click)="onSidenavClose()">
    <mat-icon> list_alt</mat-icon><span class="nav-caption">Your Grocery List</span>
  </a>
  <a mat-list-item routerLink="/add-recipe" (click)="onSidenavClose()">
    <mat-icon>note_add</mat-icon><span class="nav-caption">Add a Recipe</span>
  </a>
</mat-nav-list>
